<launch>
  <arg name="launch_prefix" default="xterm -e" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltags2_node" />
  <arg name="camera_name" default="/usb_cam" />
  <arg name="camera_frame" default="camera" />
  <arg name="image_topic" default="image_raw" /> <!-- use image_rect with image_proc node-->

  <!-- Set parameters -->
  <rosparam command="load" file="$(find apriltags2_ros)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find apriltags2_ros)/config/tags.yaml" ns="$(arg node_namespace)" />

  <node  name="usb_cam" pkg="usb_cam" type="usb_cam_node" clear_params="true" output="screen" launch-prefix="xterm -e">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="contrast" value="32" />
    <param name="brightness" value="32" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="laptop" />
    <param name="camera_name" value="laptop" />
    <param name="io_method" value="mmap" />	
  </node>

  <!-- <node  name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>  -->

  <node pkg="apriltags2_ros" type="apriltags2_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />

    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>

rosrun tf static_transform_publisher 0.0 0.0 0.0 0.0 0.0 -1.570796 map camera 100
  <node  name="rqt_graph" pkg="rqt_graph" type="rqt_graph" output="screen"/>
  <node  name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" output="screen"/>
  <node  name="tranfsform" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.0 0.0 0.0 -1.570796 map camera 100" output="screen"/>
  <node  name="rviz" pkg="rviz" type="rviz" args="-d /home/rtmcclai/thesis/Thesis/rvizconfig.rviz" />


</launch>
